build/
autom4te.cache/
.deps/
.libs/

*.o
*.lo
*.la
*.o.d
*.Po
*.mod
*.mod.c
*.m4
*.ko
*.cmd


Makefile.in

/Makefile
/handshake/Makefile
/tests/Makefile
/handshake/libquic.pc
/net/quic/Module.symvers
/net/quic/modules.order
/config.*
/configure
/ar-lib
/compile
/libtool
/depcomp
/install-sh
/ltmain.sh
/missing
/stamp-h1
/tests/*_test
/tests/keys/*.pem
/tests/keys/server.ext